<!DOCTYPE html>
<html>
<head>
  <title>IsotopeContacts</title>
  <%= stylesheet_link_tag    "isotope_contacts/application" %>
  <%= javascript_include_tag "isotope_contacts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
