.contacts-module
  %table.zebra-striped
    %thead
      %tr
        %th Name
        %th Actions
    %tbody
      - @contacts.each do |contact|
        %tr
          %td= link_to contact, contact_path(contact)
          %td.object-actions
            = link_to "Edit", edit_contact_path(contact), class: 'btn'
            = button_to "Delete", contact_path(contact), method: :delete, class: 'btn danger'
